@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);
  -webkit-backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.text-gradient {
  background: linear-gradient(90deg, #38bdf8, #6366f1, #a855f7, #38bdf8);
  background-size: 200% 200%;

  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#profile-image::after,
#profile-image::before {
  content: "";
  position: absolute;
  height: calc(100% + 10px);
  width: calc(100% + 10px);
  background-image: conic-gradient(
    from var(--angle),
    #38bdf8 0deg,
    transparent 150deg,

    transparent 180deg,

    #a855f7 180deg,
    transparent 330deg,

    transparent 360deg
  );

  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 100%;
  opacity: 0;
  z-index: -12;
  visibility: hidden;
  animation: none;
}

#profile-image::before {
  filter: blur(0.5rem);
}

#profile-image.loaded::after,
#profile-image.loaded::before {
  visibility: visible;

  animation:fadeIn 1s ease forwards, spin 10s linear infinite;
}

#skill-icon-fade-div{
  mask-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1) 30%,rgba(0,0,0,1) 70%, rgba(0,0,0,0));
}
