@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}




.text-gradient {
  background: linear-gradient(90deg, #38bdf8, #6366f1, #a855f7);

  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}
